//--------------------------------------------------------------
// Animations
//--------------------------------------------------------------
.animate-out {
	animation: out 600ms ease-in-out forwards;
}

.animate-in {
	animation: in 500ms ease-in-out forwards;
	display: block;
}

.animate-left {
	animation: left 500ms ease-in-out forwards;
	display: block;
}

.animate-right {
	animation: right 500ms ease-in-out forwards;
	display: block;
}
